.home-container {
  height: 100vh;
  background-color: #e9d5a1;
  min-height: 450px;
}

.home-content-container {
  padding-top: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.laptop-icon {
  height: 150px;
}

.home-name {
  font-size: 400%;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}

.job-title {
  font-size: 200%;
  margin-top: 20px;
}

.github-container img {
  height: 80px;
}

.github-container {
  padding-top: 10px;
  padding-left: 20px;
}
