.about-me-container {
  height: 700px;
}

.about-me-title-container {
  text-align: center;
  padding-top: 80px;
  height: 200px;
}

.about-me-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-card {
  width: 250px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.introduction-container {
  width: 1200px;
  height: 200px;
  border: 1px solid lightgray;
}

.introduction {
  line-height: 20px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}
