.footer {
  background-color: black;
  color: white;
  fill: gray;
  padding-top: 50px;
}

.media {
  display: flex;
  justify-content: center;
}
.media svg {
  font-size: 50px;
}

.responsive-img {
  margin: 50px 5%;
}

.responsive-img:hover {
  fill: white;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.personal-contact,
.personal-email {
  margin: 0 2%;
}

.copyright {
  width: 30%;
  text-align: center;
}

.copyright h4 {
  margin: 10px 0;
}

.footer-nav {
  width: 70%;
  text-align: center;
}

.footer-row {
  display: flex;
  padding: 50px 0;
}

.resume-footer {
  padding: 0 7%;
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}
